.main {
    position: absolute;
    top: 40%;
    left: 40%;
    border: 2px solid white;
    padding: 1rem;
    border-radius: 6px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
}
.ok{
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 6px;

}
.ok:hover {
  cursor: pointer;
}
.input {
    width: 60%;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 6px;
}