.heading{
    text-align: center;
    color: white;
}
.mainContainer{
    width: 80%;
    margin: auto;
}
.formContainer{
    width: 30%;
    margin: auto;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 1rem;
}

.main {
    display: flex;
    justify-content: space-between;
    padding:10px;
    border: 2px solid white;
    margin-bottom: 1rem;
}
.link {
    text-decoration: none;
    color: white;
}
.mainBlog {
    color: white;
    width: 30%;
    margin: auto;
    border-radius: 4px;
    margin-bottom: 1rem;
    border: 2px solid white;
    padding: 10px;
}
.btn{
    border-radius: 4px;
    padding: 5px 10px;
    background-color: white;
    color: black;
    outline: none;
    border: none;
    margin-left: 0.3rem;
}
.btn:hover{
    cursor: pointer;
}
.blogTitle{
    margin: 0;
}
